* {
    
    
    font-family: Arial, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #111111;

}

#filter{
  display: none;
}
#srch{
  width: 100px;
  height: 30px;
  border-radius: 9px;
  border: none;
  padding: 7px;
  padding-left: 10px;
  display: flex;
  align-items: center;
   justify-content: space-between;
   color: #020101;
   background-color: #e9a1e8;
   box-sizing: border-box;
}
#srch:hover{
  background-color: #d28cde;
  color: #111;
}
.nav-el:hover{
  color: #454040;
}
#logo{
  width: 130px;
  cursor: pointer;
  height: 40px;
  display: flex;
margin-right:90px ;

}
#inpt{
  width: 180px;
  border: none;
  outline: none;
   background: #f4f3f3;
}
#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
 color: black;
  background: #f1d4d4;
  font-size: .9rem;
  padding: 10px 9px;
  font-weight: bold;
}
#foot{
  margin-top: 15px; display: flex; background-color: hsl(0, 73%, 6%); padding: 12px; color: rgb(143, 144, 145); justify-content: space-around;
}
#ordr{
background-color: #ccc;
padding: 30px;
 border-radius: 9px;
 max-height: 300px;
 width: 400px;
 margin-top: 17px;
}
#crt-btn{
  height: 30px;
  width: 30px;
  color: black;
  background-color: #a9590e;
  border: none;
  border-radius: 8px;
  padding: 3px 6px;
  margin: 0px 0px;
  display: flex;
  justify-content: space-around;
}
#cart-in{
  margin: 20px;
 padding: 15px;
 border-radius: 9px;
 border-radius: 6px;
 display:flex;
 justify-content: space-around;
 
}
#cart-el{
 display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: #1b1616;
 padding: 10px;
 border-radius: 9px;
 margin-top: 15px;
 color: white;
}

.nav-el{
  text-decoration: none;
  color: black;
}
#logi{
  width: 15px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
}
#cart{
    width: 20px;
  height: 20px;
  margin-right: 7px;
  cursor: pointer;
}
#log{
  width: 15px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;

}
.card{
  
    display: block;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 290px;
    background-color: white;
    border: none;
    border-radius: 3px;
    color: rgb(13, 13, 47);
    padding: 8px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(73, 71, 71, 0.1);
}
.electronic {
    display: block;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 280px;
    background-color: white;
    border: none;
    border-radius: 3px;
    color: rgb(13, 13, 47);
    padding: 8px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(73, 71, 71, 0.1);
}
.shoe{
  
    display: block;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 280px;
    background-color: white;
    border: none;
    border-radius: 3px;
    color: rgb(13, 13, 47);
    padding: 8px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(73, 71, 71, 0.1);
}
.shoe:hover{
  background-color: rgb(219, 211, 211);
}.card:hover{
  background-color: rgb(219, 211, 211);
}.electronic:hover{
  background-color: rgb(219, 211, 211);
}
.fashnn:hover{
  background-color: rgb(219, 211, 211);
}
.fashnn{
  
    display: block;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 280px;
    background-color: white;
    border: none;
    border-radius: 3px;
    color: rgb(13, 13, 47);
    padding: 8px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(73, 71, 71, 0.1);
}
#category{
  display: flex;
  justify-content: space-around;
 
text-decoration: none;
}
#electronics{
  display:flex;
  justify-content: space-around;
  border-radius: 5px;

background: linear-gradient(to right, #92530a, #cd8614);
width: 280px;
height: 150px;
color: white;


}
#fashion:hover{
 background: linear-gradient(to left, #92530a, #cd8614);
}
#electronics:hover{
 background: linear-gradient(to left, #632c04, #a9590e);
}

#shoes:hover{
 background: linear-gradient(to left, #28203d, #3d3352);
}
#p:hover{
  background-color: #632c04;
}
a{
  text-decoration: none;
}
#faah:hover{
  background-color:#92530a, ;
}

#fashion{
background: linear-gradient(to right, #632c04, #a9590e);
width: 280px;
height: 150px;
color: white;
 display:flex;
 justify-content: space-around;
 border-radius: 5px;
 
}
#shoes{
background: linear-gradient(to right, #28203d, #3d3352);
width: 280px;
height: 150px;
color: white;

 display:flex;
 justify-content: space-around;
 border-radius: 5px;
}

#btn{
  background-color: aliceblue;
  color: black;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
}
/* SLIDER */
.slider {

  width: 100%;
  height: 420px;
  background: linear-gradient(to right, #111, #c3831c);
  overflow: hidden;
  position: relative;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  height: 100%;
  color: white;
}

.slide.active {
  display: flex;
  animation: fade 1s ease;
}

.slide-text h1 {
  font-size: 50px;
}

.slide-text span {
  color: orange;
  font-weight: bold;
}

.slide-text button {
  margin-top: 20px;
  padding: 12px 25px;
  background: orange;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.slide img {
  width: 420px;
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  height: 12px;
  width: 12px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background: rgb(63, 52, 32);
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}
#ltst{
  display: flex;
  justify-content: space-between;
}
#mainn{
  padding: 20px 90px;
}
#main{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
}
.card{
    display:block;
  
    margin-top: 50px;
    margin-left:10px;
    margin-right: 10px;
    width:200px;
    height:280px;
    background-color: white;
    border:none;
    border-radius: 3px;
    color:rgb(13, 13, 47);
    padding: 8px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), 0 0 10px rgba(73, 71, 71, 0.1);
}
   
#img{
    margin:0;
    width:180px;
    height:170px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
#m{
width: 200px;
text-align: center;
}
#l{
    margin: 4px 2px 2px 5px;
    color: #111;
}
#p{
    margin: 5px 5px 2px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(230, 107, 7);
    border: none;
    padding: 5px 45px 5px 45px;
    border-radius: 3px;


}
.nav-e{
    text-decoration: none;
    color: rgb(171, 169, 169);
    font-size: x-small;
}
#scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 50px;
  height: 50px;
  border-radius: 70%;

  background-color: #ce7d21;
  color: #fff;
  font-size: 22px;

  border: none;
  cursor: pointer;

  display: none; /* hidden initially */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease, opacity 0.3s ease;
}

#scrollTopBtn:hover {
  transform: translateY(-5px);
  background-color: #8b4b07;
}